@media screen and (min-width: 770px){
   body{
    width: 100%;
    display: flex;
   
    justify-content: center;
    
   }
   .flexcontainer{
    width: 770px;
    display: flex;
    flex-direction: column;
}
header{
    display: flex;
    justify-content: space-between;
    padding-left: 44px;
    padding-right: 44px;
    margin-bottom: 65px;
    margin-top: 26px;
    
    
}

.textsection{
    display: flex;
    flex-direction: row;

}

.TStextandbutton{display: flex; 
    justify-content: center;
    padding-top: 30px;
    padding-left: 39px;
    padding-right: 80px;

}
.textsectionbutton{
    display: flex;
   
}
.tabletkeyboard1{display: block;}

.twophotoAndtext{display: flex;
    flex-direction: column;
    margin-top: 25px;}
    
    .twophotoAndTextimg{
        display:flex;
        flex-direction: row;
        justify-content: space-between;
    }
   

    .tabletkeyboardorange{
        display: block;
    }
    .tabletkeyboard3{
        display: block;
    }

    .twophotoAndTextimg{
        display:flex;
        flex-direction: row;
        padding-left: 41px;
        padding-right: 41px;
     
    }
    .twophotoAndtextTexts{
        display: flex;
        flex-direction: row;
    }

    main{
        display: grid;
        width: 770px;
        grid-template-columns: 1fr 1fr;
        padding-right: 50px;
        padding-left: 20px;

    }
    .box1{
        display: grid;
        justify-items:flex-start;
        align-items:flex-start;
        gap: 24px;
        padding-left: 7%;
        
    }

    .box1 h4{
      text-align:start;
      padding: 0;
    }
    
    .box1 p{
     text-align: start;
     padding: 0;
    }
    
    
    footer h5{
        margin-bottom: 50px
    }
    .mobkeyboardorange{display: none;}
    .mobkeyboard3{display: none;}
    .mobkeyboard1{display: none;}
}

@media screen and (min-width: 1400px){
    body{
        width: 100%;
        
       }
       .flexcontainer{
        width: 1150px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 64px;
    }
    header{width: 1150px;
       display: flex;
    justify-content: space-between;}

       .textsection{
        display: flex;
        width: 1150px;
       

       }
       .TStextandbutton{
        display: flex;
        
       }

       .TStextandbutton h1{
        font-weight: 900;
        font-size: 56px;
        line-height: 56px;  
        padding-right: 40%;
    
    }
    .TStextandbutton p{
        font-weight: 500;
        font-size: 20px;
        line-height: 26px;
        padding-right: 30%;
        
    }
    .TStextandbutton{
        display: flex;
        align-items:flex-start;
      
      
       
        
        
    }
    .textsectionbutton{
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 0;
        gap: 10%;
        
    }
    .fordesktop{
        display: flex;
        position: relative;
        /* margin-right: 48px; */
       
    }
    .twophotoAndTextimg{
        display: flex;
        padding: 0;
        position: relative;
     
    }


       .deskkeyboard1 {display: block;
    }
  
    .deskkeyboard1 img{
        align-content: center;
        position: relative;
        right:10%
     
    }

    .twophotoAndtext{
        display: flex;
        flex-direction: row;
        width: 1150px;
       
    }

    .twophotoAndTextimg{
        display: flex;
        position: relative;
        gap: 30px;
        padding-top: 5%;
    }

    .twophotoAndtextTexts{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
       

    }
    main{
        display: grid;
        grid-template-columns: auto auto auto auto;
        width: 1150px;
        flex-direction: row;
        
       

    }

    .desktopkeyboardorange{
        display: block;
    }
    .desktopkeyboard3{
        display: block;
    }
    .deskgreybox1{
        display: block;
        position: absolute;
        right: -20%;
    } 
    .deskgreybox2{
        display: block;
        position: absolute;
        left: -25%;
    } 

       .tabletkeyboard1{
        display: none;
    }
    .tabletkeyboardorange{
        display: none;
    }
    .tabletkeyboard3{
        display: none;
    }
     
      
}